<a href="https://colab.research.google.com/github/steve-keys/ISYS5002_portfolio/blob/main/IntroProgramingAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##INPUTS#
1. Get Company Stock Market Ticker
2. Locate table of Key Executives and their salaries
3. Scrap page for salary data

In [7]:
Company_Ticker = (input("What is your Company's Stock Market Ticker Symbol? "))

What is your Company's Stock Market Ticker Symbol? NAB.AX

In [9]:
# Find the URL
#url = https://au.finance.yahoo.com/quote/NAB.AX/profile?p=NAB.AX

# Write code to insert tickers in the correct place holders in the URL
  url = https://au.finance.yahoo.com/quote/{Company_Ticker}/profile?p={Company_Ticker}

IndentationError: ignored

##PROCESSING#

1. Use salary data to compute the tax payable for each executive
2. Use tax tables and functions created in previous notebook to calculate tax payable

In [4]:
## Steps
#1. Get the income
#2. Calculate the tax payable

# Step 1 - Get the income amount
income = int(input("What is your income for the year? "))
print("Your income is " , income)

# Step 2 - Calculate the tax payable
# if you earn $18,200, then pay no tax
# else if you earn between $18,201 â€“ $45,000, 
#    then pay 0.19 cents for every dollar over 18,200

if income <= 18200:
  tax_payable = 0
elif 18200 < income <= 45000: 
  tax_payable = 0.19 * (income - 18200)
elif 45000 < income <= 120000:
  tax_payable = 5092 + 0.32 * (income - 45000)
elif 120000 < income <= 180000:
  tax_payable = 29467 + 0.37 * (income - 120000)
elif income > 180000:     
  tax_payable = 51667 + 0.45 * (income - 180000)        
print("Your tax payable is ", tax_payable)

In [ ]:
def get_income():
  '''
  This function will prompt the user for the income and return the value
  '''
  income = int(input("What is your income for the year? "))
  print("Your income is " , income)
  return income

In [ ]:
def calculate_tax (income):
  if income <= 18200:
    tax_payable = 0
  elif 18200 < income <= 45000: 
    tax_payable = 0.19 * (income - 18200)
  elif 45000 < income <= 120000:
    tax_payable = 5092 + 0.32 * (income - 45000)
  elif 120000 < income <= 180000:
    tax_payable = 29467 + 0.37 * (income - 120000)
  elif income > 180000:     
    tax_payable = 51667 + 0.45 * (income - 180000)        
  
  return tax_payable

In [ ]:
# 'Main line'

# Step 1
income = get_income ()
# Step 2
tax = calculate_tax(income)

print("Your tax payable is ", tax)

##OUTPUTS#
Save data in CSV and/or
Store in an SQLite database

User to choose how data is saved