<a href="https://colab.research.google.com/github/steve-keys/ISYS5002_portfolio/blob/main/sql_shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [1]:
import sqlite3

## Create a connection

We use the connect method and pass the name of the database

In [3]:
conn = sqlite3.connect("mytest.db")

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [4]:
cursor = conn.cursor ()

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [5]:
query = """
CREATE TABLE USER (
  id INTERGER NOT NULL PRIMARY AUTOINCREMENT,
  name TEXT,
  age INTEGER
);
"""

In [6]:
cursor.execute(query)

OperationalError: ignored

# Insert into Table

In [ ]:
query = "INSERT INTO user VALUES (0, 'Michael', 21):"

In [ ]:
cursor.execute(query)

## Fetching Data

## Updating Data

## Delete Data

## View Schema

## Delete Table